body {
    background-color:lightgray;
}

#parent {
    width: 100%;
}

#log {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16vw;
    text-align: center;
    padding-right: 20%;
}